.login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    height: 100vh;
    background-color: #FFFBDC;
    color: #FFFFFF;
    overflow: hidden;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 55vw;/* 66%*/
    height: 80%;/* 80%*/
    border-radius: 40px 50px;
    background-color: #01571E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
    overflow: hidden;
    min-height: 600px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    font-size: 30px;
    font-style: normal;
    line-height: normal;
}

.title > h1 {
    font-weight: 200;
    color: #FFFBDC;
    white-space: nowrap;
}

.title > h2 {
    color: #3FCC10;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
    margin: 2rem;
}

.passwordField {
    margin-top: 50px;
}

.content {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 3rem;
    z-index: 3;
}

.submitButton {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    justify-self: center;
    border: none;
    border-radius: 40px;
    background: #3FCC10;
    padding: 10px 20px;
    font-weight: 100;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.submitButton:hover {
    opacity: 0.7;
    cursor: pointer;
    margin-bottom: 20px;
}

.image {
    display: inline;
    object-fit: contain;
    width: 400px;
    margin: 20px;
}

.topFrame {
    position: absolute;
    height: 80%;
    width: auto;
    top: 0;
    right: 0;
    z-index: 2;
}

.bottomFrame {
    position: absolute;
    bottom: 0;
    height: 80%;
    left: 0;
    z-index: 2;
}

@media(min-width: 1400px) and (max-width: 1555px) {
    .title {
        font-size: 25px;
    }

    .bottomFrame, .topFrame {
        height: 65%;
        width: auto;
    }

    .image {
        width: 350px;
    }

    .form {
        gap: 4rem;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) and (orientation: landscape) {
    .container{
        width: 66%;
        height: 80%;
    }

    .bottomFrame, .topFrame {
        height: 65%;
        width: auto;
    }

    .title {
        font-size: 20px;
    }

    .image {
        width: 350px;
    }

    .form {
        gap: 2rem;
    }

}

@media (min-width: 1200px) and (max-width: 1399px) and (min-height: 646px){
    .container{
        width: 66%;
        height: 70%;
    }

    .form {
        gap: 6rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container{
        width: 80%;
        height: 80%;
    }

    .ropeImage, .image{
        display: none;
    }

    .bottomFrame, .topFrame {
        height: 65%;
        width: auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) { 

    .container{
        width: 80%;
        height: 80%;
    }

    .ropeImage, .image{
        display: none;
    }

    .bottomFrame, .topFrame {
        height: 65%;
        width: auto;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .container{
        width: 80%;
        height: 80%;
    }

    .image, .ropeImage{
        display: none;
    }

    .bottomFrame, .topFrame {
        height: 60%;
        width: auto;
    }
    
}

@media (max-width: 575px) {
    .title {
        font-size: 20px;
    }

    .container{
        width: 100%;
        height: 100%;
        border-radius: 0;
        border: none;
        box-shadow: none;
    }

    .image, .ropeImage, .bottomFrame{
        display: none;
    }

    .topFrame {
        height: 40%;
        top: -5%;
        right: -5%;
        width: auto;
    }
}











